.git
.gitignore
.env
.env.*
**/.env
**/.env.*
!.env.example
**/target
**/node_modules
**/dist
**/.idea
**/.vscode
**/*.iml
**/*.log
**/*.pem
**/*.key
**/*.p12
**/*.jks
**/.DS_Store
uploads
tmp
temp
frontend
.github
docs
